* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#dc-logo-custom {
  max-width: 6rem;
  max-height: auto;

}

a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: rgba(17, 17, 17, 0.959);
}

a:hover {
  color: #007bff;
}

p.text-footer-icon {
  color: white;
  font-size: medium;

}

.icon-img {
  max-width: 4rem;
  height: auto;
}

.bg-dc-comics {
  background-image: url('/footer-bg.jpg');
  background-size: cover;
  background-position: center;
}

.img-dc-footer {
  max-width: 20rem;
  width: auto;
}

#content-here {
  min-height: 20vh;
}

.img-position {
  max-width: 3rem;
  height: auto;
}