* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}


/*CSS-HEADER*/
#dc-logo-custom {
  max-width: 6rem;
  max-height: auto;

}

a:hover {
  color: #007bff;
}

nav>ul>li>a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(17, 17, 17, 0.959);
  display: inline-block;
}

.space-nav {
  margin-left: 20rem;
}

/*CSS-MAIN*/

#bg-jumbotron {
  width: 100%;
  height: px;
}

/*CSS-FOOTER*/

p.text-footer-icon {
  color: white;
  font-size: medium;
}

.icon-img {
  max-width: 4rem;
  height: auto;
}

.bg-dc-comics {
  background-image: url('/footer-bg.jpg');
  background-size: cover;
  background-position: center;
}

.img-dc-footer {
  max-width: 20rem;
  width: auto;
}

#content-here {
  min-height: 20vh;
}

.img-position {
  max-width: 3rem;
  height: auto;
}